
@model IEnumerable<Tamga_Test_WebApp.Models.Applicant>


@{
    ViewData["Title"] = "Трудоустройство";
}
<h2>Трудоустройство</h2>
*@if (User.IsInRole("admin"))
{
<a asp-area="" asp-controller="Employees" asp-action="Employeed" class="btn btn-primary">Cписок трудоустроенных</a>
}
 

<div class="container">
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="aplicantInfo" id="appInfo" data-applicantId="0" data-employeed="false">
                <dl class="dl-horizontal">
                    <dt>
                        Имя
                    </dt>
                    <dd id="name">
                        Имя
                    </dd>
                    <dt>
                        Фамилия
                    </dt>
                    <dd id="lastName">

                    </dd>
                    <dt>
                        Возраст
                    </dt>
                    <dd id="age">

                    </dd>
                    <dt>
                        Телефон
                    </dt>
                    <dd id="phone">

                    </dd>
                    <dt>
                        Желаемая зарплата
                    </dt>
                    <dd id="salary">

                    </dd>
                    <dt>
                        Желаемая позиция
                    </dt>
                    <dd id="position">

                    </dd>
                </dl>
                <label id="status" class="applicantstatus"></label>
            </div>

        </div>
        @*Positions*@
        <div class="col-md-12">
            <h3>Позиции</h3>
            <div class="list-group" id="positionsList">

            </div>
        </div>
        @*Positions End*@
    </div>
    <div class="col-md-6">
        <div class="list-group" id="applicantsList">
            @foreach (var item in Model)
            {
                <a href="#" class="list-group-item waves-light" data-applicantId="@item.ApplicantId">@item.Name  @item.LastName</a>
            }
        </div>
    </div>
</div>

<button type="button" class="btn btn-success btn-lg" id="employeedBtn" onclick="EmployeApplicant(event)"> Трудоустроить</button>
@section Scripts{
    <script>

        $('#employeedBtn').prop('disabled', true);
        $('#applicantsList .list-group-item').on('click', function (e) {
            var previous = $(this).closest(".list-group").children(".active");
            previous.removeClass('active'); // previous list-item
            $(e.target).addClass('active'); // activated list-item
            // console.log(e.target.attributes.getNamedItem("data-applicantId"));
            SelectedApplicantChanged(e.target.attributes.getNamedItem("data-applicantId").value);
        });
        $(document).on('click', '#positionsList .list-group-item', function (e) {
            var previous = $(this).closest(".list-group").children(".active");
            if (previous[0] == e.target) {
                previous.removeClass('active');
                EmployeedBtnChangeState(false);
            }
            else {
                previous.removeClass('active'); // previous list-item
                $(e.target).addClass('active'); // activated list-item
                EmployeedBtnChangeState(true);
            }
        });

        function EmployeedBtnChangeState(state) {

            console.log($("#appInfo").attr("data-employeed"));
            console.log(state);
            var employeed = $.parseJSON($("#appInfo").attr("data-employeed"));
            console.log(employeed);
            console.log(employeed == false);
            if (state === true && employeed == false) {
                $("#employeedBtn").addClass("active");
                $("#employeedBtn").prop('disabled', false);

            }
            else {
                $("#employeedBtn").removeClass('active');
                $("#employeedBtn").prop('disabled', true);
            }

        }
        function SelectedApplicantChanged(id) {
            $.ajax({
                url: "/Employees/GetApplicantById",
                type: "GET",
                data: { id: id },
                success: function (data) {
                    console.log(data);
                    UpdateSelectedApplicantInfo(data);
                    UpdatePositions(data.pretendedSalary);
                },
                error: function (err) {
                    $.notify({
                        title: '<strong>Детальное описание соискателя!</strong>',
                        message: err.statusText
                    }, {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated fadeOutRight'
                            },
                            type: 'warning'

                        }); console.log(err);
                }
            });
        }

        function UpdatePositions(salary) {
            EmployeedBtnChangeState(false);
            $("#positionsList").empty();
            $.ajax({
                url: "/Employees/GetPositionsBySalary",
                type: "GET",
                data: { salary: salary },
                success: function (data) {
                    UpdatePositionsList(data);
                },
                error: function (err) {
                    $.notify({
                        title: '<strong>Список позиций!</strong>',
                        message: err.statusText
                    }, {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated fadeOutRight'
                            },
                            type: 'warning'

                        });
                    console.log(err);
                }
            })

        }

        function UpdatePositionsList(data) {
            console.log(data);
            $.each(data, function (key, item) {
                $("#positionsList").append($('<a>', {
                    text: item.name,
                    href: "#"
                }).addClass("list-group-item waves-light").attr("data-positionId", item.positionId))
            });
        }

        function UpdateSelectedApplicantInfo(info) {
            $("#appInfo").attr("data-applicantId", info.applicantId);
            $("#name").html(info.name);
            $("#lastName").html(info.lastName);
            $("#phone").html(info.phone);
            $("#salary").html(info.pretendedSalary);
            $("#position").html(info.position);
            $("#age").html(info.age);
            $("#appInfo").attr("data-employeed", info.isEmployed);
            if (info.isEmployed == true) {
                $("#status").html("Трудоустроен");
            }
            else {
                $("#status").html("");
            }
        }



        function EmployeApplicant(event) {

            var applicantId = $("#appInfo").attr("data-applicantId");
            var posId = $("#positionsList").children(".active").first().attr("data-positionid");
            console.log("lsalsld");
            console.log(applicantId);
            console.log(posId);
            console.log($("#positionsList").children(".active").first());
            $.ajax({
                url: "/Employees/Employ",
                type: "POST",
                data: {
                    applicantId: applicantId,
                    positionId: posId
                },
                success: function (data) {
                    $.notify({
                        title: '<strong>Успех!</strong>',
                        message: data
                    }, {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated fadeOutRight'
                            },
                            type: 'success'

                        });
                },
                error: function (err) {
                    $.notify({
                        title: '<strong>Ошибка!</strong>',
                        message: err.statusText
                    }, {
                            animate: {
                                enter: 'animated fadeInRight',
                                exit: 'animated fadeOutRight'
                            },
                            type: 'warning'

                        });
                }
            })
        }
    </script>
}