@model Tamga_Test_WebApp.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control  bfh-phone" data-format="+380ddddddddd" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PretendedSalary" class="control-label"></label>
                <input asp-for="PretendedSalary" class="form-control" onkeyup="ChangePretendetSalary(event)" min="0" max="99999999999" />
                <span asp-validation-for="PretendedSalary" class="text-danger"></span>
            </div>
            <div class="form-group" id="positionsGroup">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" id="positionsSelect" class="form-control" asp-items="ViewBag.PositionId">
                    <option value=""> Выберите позицию из имеющихся</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () { 
            $("#positionsGroup").hide();
        })
        function ChangePretendetSalary(e) {

            var value = e.target.value;
            var listGroup = $("#positionsGroup");
            $("#positionsSelect").find('option').not(':first').remove();
            if (value === "") {
                listGroup.hide(333);
            }
            else {

                GetPositionsBySalary(value);
                //UpdateSelectList($("#positionsSelect"), value);
                //if (listGroup.not(':visible')) {
                //    listGroup.show(333);
                //}
            }
            console.log(value);
        }
        function UpdateSelectList(data) {

            console.log(data);
            if (data.length > 0) {              
                $.each(data, function (key, item) {                    
                    $("#positionsSelect").append($('<option>', {
                        value: item.positionId,
                        text: item.name
                    }));
                });
                $("#positionsGroup").show(333);

            }
            else {
                $("#positionsGroup").hide(333);
            }
        }
        function GetPositionsBySalary(salary) {

            $.ajax({
                url: "/Positions/GetPositionsBySalary",
                type: "GET",
                data: { salary: salary },
                success: function (data) {
                    UpdateSelectList(data);
                },
                error: function (err) { console.log(err); }
            })
        }
            //function UpdateSelectList(control, salary) {

            //    $.ajax({
            //        url: "/Applicants/GetPositionsBySalary",
            //        type: "GET",
            //        data: { salary: salary },
            //        success: function (data) {
            //            if (data.length == 0) {
            //                $("#positionsGroup").hide(333);
            //            }
            //            console.log(data);
            //            $.each(data, function (key, item) {
            //                console.log(control);
            //                $(control).append($('<option>', {
            //                    value: item.positionId,
            //                    text: item.name
            //                }));
            //            });
            //        },
            //        error: function (err) { console.log(err); }
            //    })
            //}
    </script>
}

